GridPane {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

TitledPane {
    -fx-collapsible: false;
}

#bottom-box {
    -fx-alignment: center;
    -fx-padding: 10px;
}

#center-box {
    -fx-alignment: center;
    -fx-padding: 10px;
}

#center-box > * {
    -fx-padding: 5px;
}

.ship-configuration-cell {
    -fx-stroke: black;
}

#ship-configuration-grid {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-hgap: 0px;
    -fx-vgap: 0px;
}
